
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --black: #000000;
  --noColor: transparent;
}

body {
  font-family: "Lato", sans-serif;
}


.shadow-close {
  background-color:transparent;
  color: #445760;
  text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5,
    -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5,
    -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5,
    -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
  padding: 0px;
  margin: 0px;
  font-size: 10vh;
}


.one {
  background-color: #013a6b;
  background-image: -webkit-linear-gradient(45deg, black 50%, #C5CBCE 50%);
  min-height: 100vh;
  rotate: (-11deg);
  display: flex;
  justify-content: center;
  align-items: center;
}


.grand_parent {
  width: 100vw;
  height: 79vh;
  background: transparent;
  color: transparent;
}

h1 {
  font-size: 4rm;
  padding: 50px 0;
  text-align: center;
  color: #000;
}

p {
  text-align: center;
}

.parent {
  width: 80vw;
  height: auto;
  margin: auto;
  display: flex;
  /*virtcal to horizantial*/
  justify-content: space-around;
  flex-wrap: wrap;
  transition: all 0.2 linear;
}

.child1 {
  background: rgb(236, 223, 223);
  width: 200px;
  height: 200px;
  box-shadow: 0 0 20px #bac3c3;
  flex: 1 1 200px;
  margin: 20px;
  position: relative;
  color: var(--black);
  display: flex;
  border: 3px solid #c266d3;
  background-image: -webkit-linear-gradient(30deg, #c266d3 50%, transparent 50%);
  background-image: linear-gradient(45deg, #c266d3 50%, transparent 50%);
  background-size: 950px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  /*no need to write height and width*/
}

.child1:hover {
  background-position: 100%;
  color: #c266d3;
}

.child1 h2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.child2 {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 20px #bac3c3;
  background: rgb(236, 223, 223);
  flex: 1 1 200px;
  margin: 20px;
  position: relative;
  color: black;
  border: 3px solid #c266d3;
  background-image: -webkit-linear-gradient(30deg, #c266d3 50%, transparent 50%);
  background-image: linear-gradient(45deg, #c266d3 50%, transparent 50%);
  background-size: 950px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.child2:hover {
  background-position: 100%;
  color: #c266d3;
}

.child2 h2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.child3 {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 20px #bac3c3;
  background: rgb(236, 223, 223);
  flex: 1 1 200px;
  margin: 20px;
  position: relative;
  color: black;

  border: 3px solid #c266d3;
  background-image: -webkit-linear-gradient(30deg, #c266d3 50%, transparent 50%);
  background-image: linear-gradient(45deg, #c266d3 50%, transparent 50%);
  background-size: 950px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.child3:hover {
  background-position: 100%;
  color: #c266d3;
}

.child3 h2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

@media (max-width: 768px) {
  .grand_parent {
      height: auto;
  }
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}


.parent {
  width: 100%;
  height: 90%;
  background-color: var(--noColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 20px;
  color: whitesmoke;
}



.contact-box {
  box-shadow: 10px 10px 5px #030202;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.social-contact {
  align-items: stretch;
}

.sub-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

#fb:hover {
  color: rgb(70, 70, 233);
}
#twitter:hover {
  color: rgb(8, 173, 238);
}
#linkedin:hover {
  color: rgb(31, 102, 255);
}
#insta:hover {
  color: rgb(255, 22, 216);
}
#reddit:hover {
  color: orangered;
}


/* sideLeft offcanvas 1 */

.sideLeft {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #f1f1f1;
  background-image: -webkit-linear-gradient(118deg, #F78035 50%, #1C1C1C 50%);
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
}

.sideLeft a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sideLeft a:hover {
  color: #f1f1f1;
}

.sideLeft .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 0px;
}

@media screen and (max-height: 450px) {
  .sideLeft {
    padding-top: 15px;
  }

  .sideLeft a {
    font-size: 18px;
  }
}

/* sideLeft offcanvas 2 */


.sideLeft1 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #52ACFF;
  background-image: -webkit-linear-gradient(290deg, #52ACFF 50%, #f0de68 50%);
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
}

.sideLeft a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sideLeft1 a:hover {
  color: #f1f1f1;
}

.sideLeft1 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 0px;
}

@media screen and (max-height: 450px) {
  .sideLeft1 {
    padding-top: 15px;
  }

  .sideLeft1 a {
    font-size: 18px;
  }
}

/* sideLeft offcanvas 3 */


.sideLeft2 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
}

.sideLef2 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sideLeft2 a:hover {
  color: #f1f1f1;
}

.sideLeft2 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 0px;
}

@media screen and (max-height: 450px) {
  .sideLeft2 {
    padding-top: 15px;
  }

  .sideLeft2 a {
    font-size: 18px;
  }
}

/* sideLeft offcanvas 4 */

.sideLeft3 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3EECAC;
  background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
}

.sideLef3 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sideLeft3 a:hover {
  color: #f1f1f1;
}

.sideLeft3 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 0px;
}

@media screen and (max-height: 450px) {
  .sideLeft3 {
    padding-top: 15px;
  }

  .sideLeft3 a {
    font-size: 18px;
  }
}


/* floating Button */

.floating-home {
  width: 70px;
  height: 70px;
  color: whitesmoke;
  background-color: rgb(68, 87, 96);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  right: 10px;
  bottom: 61vh;
  transition: background 0.25s;
}
.floating-home:active {
  background: rgb(20, 87, 70);
}

.floating-about {
  width: 70px;
  height: 70px;
  color: whitesmoke;
  background-color: rgb(68, 87, 96);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  right: 10px;
  bottom: 50vh;
  transition: background 0.25s;
}
.floating-about:active {
  background: rgb(20, 87, 70);
}


.floating-contact {
  width: 70px;
  height: 70px;
  color: whitesmoke;
  background-color: rgb(68, 87, 96);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  right: 10px;
  bottom: 39vh;
  transition: background 0.25s;
}
.floating-contact:active {
  background: rgb(20, 87, 70);
}

.floating-service {
  width: 70px;
  height: 70px;
  color: whitesmoke;
  background-color: rgb(68, 87, 96);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  right: 10px;
  bottom: 29vh;
  transition: background 0.25s;
}
.floating-service:active {
  background: rgb(20, 87, 70);
}